.CUGI-PropertyHolder {
    display : flex;
    margin: 2px;
    padding: 0px;

    font-family: monospace;
    font-weight: bold;
}

.CUGI-SubMenu {
    margin-left: 2px;
    border-left-color: #838383;
    border-left-style: solid;
    border-left-width: 2px;
}

.CUGI-Button {
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;    
    border-color: #838383;
    background-color: #dfdfdf;
}

.CUGI-Button:hover {
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;    
    border-color: #838383;
    background-color: #cfcfcf;
}

.CUGI-Button:active {
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;    
    border-color: #838383;
    background-color: #ffffff;
}

.CUGI-PropertyName {
    padding: 0px;
    margin:4px;
    color: #454545;
}

.CUGI-Number {
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    width: 48px;
    border-color: #838383;
}

.CUGI-String {
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #838383;
}

.CUGI-X {
    border-left-color: #ff0000;
}

.CUGI-Y {
    border-left-color: #00ff00;
}

.CUGI-Z {
    border-left-color: #0000ff;
}

.CUGI-W {
    border-left-color: #ffff00;
}

.CUGI-Boolean {
    appearance: none;
    -webkit-appearance: none;

    display: inline-block;
    width: 16px;
    height: 16px;
    aspect-ratio: 1;
  
    background-color: transparent;
  
    border-color: #838383;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
  
    cursor: pointer;
    transition: background-color 100ms ease-out;
}

input[type="checkbox"]:checked {  
    background-color: #58c2ff;
}

.CUGI-Dropdown {
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: #838383;
}
